.about {
    margin: 80px auto;
}

.about h2 {
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.about h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #81c042;
    bottom: 0;
    left: calc(50% - 25px);
}

.about .bi {
    color: #81c042;
    border: .1px solid #81c04270;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.about .bi:hover {
    background: #81c042;
    color: #fff;
    border: 0;
}
